<%- include('header'); -%> 

<div class="container-fluid w-auto">
    <h1 style="text-align: center; color: white; background-color: black;">PURCHASES</h1>
    <br>
    <button onclick="window.location.href='/purchaseForm'" type="button" class="btn btn-primary float-end w-25 p-2">Add New Purchase</button>
    <br> <br> <p></p>
    <table id="purchaseTable" class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <th>Invoice #</th>
            <th>Vendor</th>
            <th>Grand Total</th>
            <th>Balance</th>
            <th>Physically Received Status</th>
            <th>Transport Charge</th>
            <th>Trolly Charge</th>
            <th>Payment Status</th>
            <th>Date</th>
            <th>Action</th>
        </thead>
        <tbody>
          <% table.forEach(function(data) { %> 
            <tr>
                <td><%= data.invoice_no %></td>
                <td><%= data.vendor_name %></td>
                <td><%= data.grand_total %></td>
                <td><%= data.balance %></td>
                <td><%= data.physically_received_status %></td>
                <td><%= data.transport_charge %></td>
                <td><%= data.trolly_charge %></td>
                <td><%= data.payment_status %></td>
                <td><%= data.date %></td>
                <td>
                  <div class="d-inline-flex p-2 bd-highlight">
                    <button style="margin-right: 10px;" id="updateBtn" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="onEdit(this)">Update</button>
                    <form action="/deletePurchaseTable" method="post" onsubmit="return confirm('Are you sure?');">
                      <input type="hidden" name= "physically_received_status" value= <%= data.physically_received_status %>>
                      <button style="margin-right: 10px;" id="deleteBtn" type="submit" class="btn btn-danger" name="deletedItem" value= <%= data.invoice_no %>>Delete</button>
                    </form>
                    <form action="/showPurchaseDetails" method="post">
                      <button id="detailsBtn" type="submit" class="btn btn-info" name="invoice_number" value= <%= data.invoice_no %>>Details</button>
                      <input type="hidden" name="vendorName" value="<%= data.vendor_name %>">
                      <input type="hidden" name="grandTotal" value="<%= data.grand_total %>">
                      <input type="hidden" name="cashDiscount" value="<%= data.cash_discount %>">
                      <input type="hidden" name="date" value="<%= data.date %>">
                      <input type="hidden" name="subTotal" value="<%= data.sub_total %>">
                    </form>
                  </div>
                </td>
            </tr>
            <% }); %>  
        </tbody>
    </table>
</div>
  
  <!-- Modal Update -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">UPDATE DATA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/updatePurchaseTable" method="post">
                <div class="mb-3">
                  <label for="invoice_no" class="form-label">Invoice #</label>
                  <input type="text" class="form-control" id="invoice_no" name="invoice_no" autocomplete="off" readonly/>
                </div>
                <div class="mb-3">
                    <label for="vendor" class="form-label">Vendor</label>
                    <input type="text" class="form-control" id="vendor" name="vendor" autocomplete="off" readonly/>
                </div>
                <div class="mb-3">
                    <label for="physically_received_status" class="form-label">Physically Received Status</label>
                    <select name="physically_received_status" class="form-select" id="physically_received_status" aria-label="Default select example">
                        <option disabled>NO</option>
                        <option>YES</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="transport_charge" class="form-label">Transport Charge</label>
                    <input type="number" class="form-control" step="0.01" min="0" id="transport_charge" name="transport_charge" autocomplete="off"/>
                </div>
                <div class="mb-3">
                    <label for="trolly_charge" class="form-label">Trolly Charge</label>
                    <input type="number" class="form-control" step="0.01" min="0" id="trolly_charge" name="trolly_charge" autocomplete="off"/>
                </div>
                <div class="mb-3">
                    <label for="payment_status" class="form-label">Payment Status</label>
                    <select name="payment_status" class="form-select" id="payment_status" aria-label="Default select example">
                        <option>Unpaid</option>
                        <option>Paid</option>
                    </select>
                </div>
                 
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div> 
            </form>    
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="js/purchaseTable.js"></script>

<%- include('footer'); -%> 