<%- include('header'); -%> 

  <div class="container-fluid w-auto">

        <h1 style="text-align: center; color: white; background-color: black;">PURCHASE BILL DETAILS</h1>
    
              <div style="margin-top:30px" class="col-md-12 clearfix">
                <form action="/purchaseForm" method="post">
                    
                    <div class="clearfix">
                      <input type="text" name='invoice_no' class="form-control w-25 invoice_no float-start" placeholder="Enter Invoice Number" autocomplete="off" required/>
                      <input class="form-control w-25 vendor_name float-end" name="vendor_name" list="VendorList" id="vendor_name" placeholder="Enter Vendor Name" autocomplete="off" required>
                        <datalist id="VendorList">
                          <% vendor_array.forEach(function(data) { %>
                              <option value= "<%= data.vendor_name %>" ></option>
                          <% }); %>
                        </datalist>
                      <div class="mx-auto" style="width: 200px;">
                        <input type="text" name='date' class="form-control w-auto" value="<%= formattedDate %>" autocomplete="off"/>
                      </div>
                    </div>
                    <br> <br>
                    <div class="col-md-12 clearfix">
                        <table class="table table-striped table-bordered table-hover" id="tab_logic">
                            <thead class="table-dark">
                              <tr>
                                <th class="text-center" scope="col">#</th>
                                <th class="text-center" scope="col">Item Name</th>
                                <th class="text-center" scope="col">Qty</th>
                                <th class="text-center" scope="col">Price</th>
                                <th class="text-center" scope="col">Discount %</th>
                                <th class="text-center" scope="col">Taxable Value</th>
                                <th class="text-center" scope="col">GST %</th>
                                <th class="text-center" scope="col">GST Value</th>
                                <th class="text-center" scope="col">Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr id="addr0">
                                <td>1</td>
                                <td>
                                  <input class="form-control w-auto item_name" name="item_name[]" list="ItemList" id="item_name" placeholder="Type to search..." autocomplete="off">
                                    <datalist id="ItemList">
                                      <% item_array.forEach(function(data) { %> 
                                        <option value= "<%= data.item_name %>" >
                                      <% }); %> 
                                    </datalist>
                                </td>
                                <td><input type="number" name='qty[]' class="form-control qty" step="0" min="0" autocomplete="off"/></td>
                                <td><input type="number" name='price[]' class="form-control price" step="0.01" min="0" autocomplete="off"/></td>
                                <td><input type="number" name='discount[]' value="0" class="form-control discount" step="0.01" min="0" autocomplete="off"/></td>
                                <td><input type="number" name='taxable_value[]' placeholder='0.00' class="form-control taxable_value" readonly/></td>
                                <td><input type="number" name='gst[]' value="0" class="form-control gst" step="0.01" min="0" autocomplete="off"/></td>
                                <td><input type="number" name='gst_value[]' placeholder='0.00' class="form-control gst_value" readonly/></td>
                                <td><input type="number" name='total[]' placeholder='0.00' class="form-control total" readonly/></td>
                              </tr>
                              <tr id="addr1"></tr>
                            </tbody>
                          </table>
                    </div>
            
                      <div class="col-md-12 clearfix">
                        <button type="button" id="add_row" class="btn btn-success float-end">Add Row</button>
                        <button type="button" id='delete_row' class="float-start btn btn-danger">Delete Row</button>
                      </div>
            
                      <div style="margin-top:70px" class="col-md-6 float-end clearfix">
                        <table class="table table-striped table-bordered table-hover" id="tab_logic_total">
                            <tbody>
                                <tr>
                                    <th class="text-center">Sub Total</th>
                                    <td class="text-center"><input type="number" name='sub_total' id="sub_total" placeholder='0.00' class="form-control" readonly/></td>
                                </tr>
                                <tr>
                                    <th class="text-center">Cash Discount</th>
                                    <td class="text-center"><input type="number" value="0" name='cash_discount' id="cash_discount" placeholder='0.00' class="form-control"/></td>
                                </tr>
                                <tr>
                                    <th class="text-center">Grand Total</th>
                                    <td class="text-center"><input type="number" name='grand_total' id="grand_total" placeholder='0.00' class="form-control" readonly/></td>
                                </tr>
                            </tbody>
                          </table>
                      </div>
    
                      <div style="margin-top:270px" class="clearfix">
                        <button type="submit" class="btn btn-primary float-end">Submit Data to Database</button>
                      </div>
                    
                </form>
              </div>
    
        </div>
    
        <script type="text/javascript" src="js/purchaseForm.js"></script>
        
<%- include('footer'); -%> 